BasedOnStyle: Microsoft
Language: Cpp
Standard: c++14
IndentWidth: 4
AccessModifierOffset: -4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
BinPackArguments: false
BinPackParameters: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1
SortIncludes: Never
ReflowComments: Never
FixNamespaceComments: false
PointerAlignment: Left
DerivePointerAlignment: false
